<h1 class="display-4">User List</h1>
<ul class="list-group">
  <% @users.each do |user| %>
    <li class="list-group-item">
      <%= link_to user.name, foods_path(user_id: user.id), class: "list-group-item-action" %>
    </li>
  <% end %>
</ul>
